.vscode/*
app/*.js*
!app/main.js

node_modules/*

!node_modules/calcite-web
node_modules/calcite-web/*

!node_modules/calcite-web/dist
node_modules/calcite-web/dist/*

!node_modules/calcite-web/dist/css
node_modules/calcite-web/dist/css/*
!node_modules/calcite-web/dist/css/calcite-web.min.css

!node_modules/calcite-web/dist/js
node_modules/calcite-web/dist/js/*
!node_modules/calcite-web/dist/js/calcite-web.min.js

!node_modules/satellite.js
node_modules/satellite.js/*

!node_modules/satellite.js/dist
node_modules/satellite.js/dist/*
!node_modules/satellite.js/dist/satellite.min.js
