@import "node_modules/calcite-web/dist/css/calcite-web.min.css";

html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#viewDiv canvas {
  filter: saturate(2);
}

#counter {
  position: absolute;
  left: 0;
  right: 325px;
  bottom: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  pointer-events: none;
  color: white;
}

#filter-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  width: 300px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

#filter-menu .esri-slider {
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 45px;
  margin-right: 20px;
  width: 240px;
  height: 20px;
}

#filter-menu .esri-slider__segment-1 {
  background-color: #0079c1;
  height:6px;
  margin-top:-1px
}

#filter-menu .esri-slider__segment-0,
#filter-menu .esri-slider__segment-2 {
  background-color: rgba(110,110,110,0.4);
}

#filter-menu .esri-slider__thumb {
  border-width: 3px;
  top: -6px;
}

#filter-menu legend {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

#filter-menu fieldset-radio label {
  font-size: 12px;
}

#orbit, #report {
  border-top: solid 1px rgba(110,110,110,0.3);
}

#tools .satellite-selected {
  background:#4c4c4c;
  color:#fff
}
